<div id="sidebar-wrapper" ng-class="{'open': toggle}">
    <ul class="sidebar">
        <li class="sidebar-main">
            <a ng-click="toggleSidebar()">
                XXXXXXXXX
                <i class="menu-icon fa fa-bars"></i>
            </a>
        </li>
        <li class="sidebar-list">
            <a href="/">XXXXX</a>
        </li>
        <li class="sidebar-list">
            <a href="#" ng-click="showSystemStatus = !showSystemStatus">
                System Status
            </a>
        </li>
    </ul>
</div>
<div id="main-area-wrapper" ng-class="{'wide': toggle}" ui-view="map">
</div>
